.All {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;

  main {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    background-color: aliceblue;
  }
}
