header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 25px;
  text-shadow: 2px 2px 5px rgb(90, 90, 90);

  ul {
    display: flex;

    li {
      margin: 0 10px 0 10px;
      padding: 10px;
      font-size: 25px;

      a,
      svg {
        text-decoration: none;
        color: #3b3a57;
        transition: color 0.2s linear;

        &:hover {
          color: white;
          text-shadow: 2px 2px 5px white;
        }
      }
    }
  }
}
